body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ballot-box {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.ballot-box h3 {
  margin-top: 0;
}

/* Voting.css */
.ballot-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.ballot-item h3 {
  margin-top: 0;
}

.candidate {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.candidate img {
  width: 80px; /* Adjust as needed */
  height: 80px; /* Adjust as needed */
  margin-right: 10px;
}

.candidate-details {
  flex-grow: 1;
}

.candidate-name {
  font-weight: bold;
}

.buttons {
  margin-top: 10px;
}

/* BallotItem.css */
.ballot-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.ballot-item h3 {
  margin-top: 0;
}
.candidate-container {
  display: flex;
  flex-wrap: wrap; /* Allow candidates to wrap to the next line if they exceed the container width */
  gap: 20px; /* Adjust the gap between candidates */

}

/* Candidate.css */
.candidate {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
}

.candidate img {
  width: 80px; /* Adjust as needed */
  height: 80px; /* Adjust as needed */
  margin-right: 10px;
}

.candidate-details {
  flex-grow: 1;
}

.candidate-name {
  font-weight: bold;
}

.buttons {
  margin-top: 10px;
}

.vote-button.pressed {
  /* Add styles for pressed button */
  background-color: gray;
  transform: translateY(2px);
  /* Adjust other styles as needed */
}

